@font-face {
    font-family: 'Lato';
    src: url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
}

* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    overflow-y: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(50 50 50 / 90%);
    padding: 50px;
    width: 100%;
    position: fixed;
}

header h1 {
    display: flex;
    text-align: center;
    justify-content: left;
}

header h2 {
    display: flex;
    text-align: center;
    justify-content: right;
    width: auto;
}

body {
    background-image: url('/static/background.png');
}

footer {
    display: inline-block;
    background-color: rgb(50 50 50 / 90%);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.left {
    display: flex;
    justify-content: left;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.right {
    display: flex;
    justify-content: right;
}

footer p {
    font-size: 10px;
}

a {
    color: white;
    text-decoration: none;
}