@font-face {
    font-family: 'Lato';
    src: url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
}

:root {
    --padding: 50px;
    --backtick: inline;
    --nav-size: 20px;
}

/* Desktop styles */
@media (min-width: 992px) {
/* Your desktop-specific styles here */
    :root {
        --padding: 50px;
        --backtick: inline-block;
        --nav-size: 20px;
    }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 991px) {
    :root {
        --padding: 30px;
        --backtick: none;
        --nav-size: 20px;
    }
}
  
/* Phone styles */
@media (max-width: 767px) {
    :root {
        --padding: 10px;
        --backtick: none;
        --nav-size: 16px;
    }
}  

* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(50 50 50 / 90%);
    padding: var(--padding);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/static/background.png');
    overflow-y: auto;
}

footer {
    display: inline-block;
    background-color: rgb(50 50 50 / 90%);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.left {
    flex-grow: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer p {
    font-size: 10px;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: var(--nav-size);
    overflow-x: auto;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    width: calc(100% - 100px);
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav li.exists {
    display: var(--backtick);
}

header h1 {
    display: inline-block;
    box-sizing: border-box;
}