{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="color-scheme" content="dark light">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="DeepDungeons is a work in progress. Check back later for more!">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
  <title>DeepDungeons - {% block title %}{% endblock title %}</title>
</head>
<body>
  <div class="header">
  <header>
    <div class="left">
      <h1><a class="pogger" href="{% url 'home' %}">DeepDungeons</a></h1>
    </div>
    <nav class="right">
      <ul>
        <li class="pogger"><a class="pogger" href="{% url 'download' %}">Download</a></li>
        <li class="exists">|</li>
        <li class="pogger"><a class="pogger" href="{% url 'about' %}">About</a></li>
        <li class="exists">|</li>
        <li class="pogger"><a class="pogger" href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </nav>
  </header>
  </div>
  <div class="main">
  <main>
  {% block content %}

  {% endblock content %}
  </main>
  </div>
  <footer class="center">
    <ul>
      <li><p>DeepDungeons is a work in progress. Check back later for more!</p></li>
      <li><a class="pogger" href="{% url 'tos'}"><p>Terms of Service</p></a></li>
    </ul>
  </footer>
</body>
</html>