{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<header>
    <h1>DeepDungeons</h1>
    <p></p>
    <h2>
        <a href="{% url 'about' %}">About</a>
        <p>&ThickSpace;|&ThickSpace;</p>
        <a href="{% url 'socials' %}">Socials</a>
        <p>&ThickSpace;|&ThickSpace;</p>
        <a href="{% url 'contact' %}">Contact</a>
    </h2>
</header>
<footer class="center">
    <p>
        DeepDungeons is a work in progress. Check back later for more!
    </p>
</footer>
{% endblock content %}